body.login {
  padding: 0;
}

.login--container {
  display: flex;
  width: 100vw;
  height: 100vh;
  @media screen and (max-device-width: 428px) {
    flex-direction: column;
  }
}

.login--container-item {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  display: flex;

  @media screen and (max-device-width: 428px) {
    max-width: 100%;
  }
}

.login--container-form-container {
  @extend .login--container-item;
  padding: 64px;
  background-color: #fff;
}

.login--container-image {
  @extend .login--container-item;
  background-size: cover;
  background-image: url(./background.jpg);
}

.login--container--form--button-container {
  display: flex;
  justify-content: flex-end;
}

.login--user-field-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.login--container--form--toggle {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.login--user-toggle {
  padding: 0;
  font-size: 0.875rem;
}
